[submodule "vim/pathogen"]
    path = vim/pathogen
    url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/better-css-syntax"]
	path = vim/bundle/better-css-syntax
	url = git://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = git://github.com/vim-scripts/pyflakes.vim.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/lunaru/vim-less.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/solarized-powerline"]
	path = vim/bundle/solarized-powerline
	url = git://github.com/stephenmckinney/vim-solarized-powerline.git
[submodule "vim/bundle/twig"]
	path = vim/bundle/twig
	url = git://github.com/beyondwords/vim-twig.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/easytags"]
	path = vim/bundle/easytags
	url = git://github.com/xolox/vim-easytags.git
[submodule "vim/bundle/pydocstring"]
	path = vim/bundle/pydocstring
	url = git://github.com/heavenshell/vim-pydocstring.git
