[submodule "vim/pathogen"]
    path = vim/pathogen
    url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/better-css-syntax"]
	path = vim/bundle/better-css-syntax
	url = git://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/virtualenv"]
	path = vim/bundle/virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/jasmine"]
	path = vim/bundle/jasmine
	url = https://github.com/claco/jasmine.vim
[submodule "vim/bundle/snipmate2"]
	path = vim/bundle/snipmate2
	url = https://github.com/garbas/vim-snipmate
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/bundle/tern"]
	path = vim/bundle/tern
	url = https://github.com/marijnh/tern_for_vim
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/bufferline"]
	path = vim/bundle/bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "vim/bundle/rst-tables"]
	path = vim/bundle/rst-tables
	url = https://github.com/nvie/vim-rst-tables
[submodule "vim/bundle/ctrlp-py-matcher"]
	path = vim/bundle/ctrlp-py-matcher
	url = git@github.com:FelikZ/ctrlp-py-matcher.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/yajs.vim"]
	path = vim/bundle/yajs.vim
	url = git@github.com:othree/yajs.vim.git
